@import './base/variables';
@import './base/reset';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

input {
    background-color: transparent;
    border: none;
}

li {
    list-style-type: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

@import './media';
@import './sections/header';
@import './sections/hero';
@import './sections/about-us';
@import './sections/groups';
@import './sections/squad';
@import './sections/footer';